# macOS
.DS_Store

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.egg-info/
.env
.venv
venv/
ENV/
env/

# Build / dist
build/
dist/
DerivedData/

# VS Code
.vscode/

# Xcode
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata

# Backend runtime data
Backend/output/
Backend/__pycache__/

# Keys: only explicit public key
Backend/keys/*.pem
!Backend/keys/pulito_pubkey.pem


*.log
